{% extends "main/base.html" %}

{% block content %}

<div class="container" style="margin-top: 30px">

  <h1 class="display-6">Топ десять цитат</h1>

  {% for quote in quotes %}
  <figure class="text-center bg-light rounded p-3">
    <blockquote class="blockquote">
      <p> "{{ quote.quote }}" </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      {{ quote.get_type_display }}: "{{ quote.source }}", {{ quote.author }}
      <div class="text-end" role="group">
        <button type="button" class="btn">{{ quote.likes }} Нравится</button>
        <button type="button" class="btn">{{ quote.dislikes }} Не нравится</button>
      </div>
      <p class="text-end px-3">Просмотров: {{ quote.views }}</p>
    </figcaption>
  </figure>
  {% endfor %}

</div>


{% endblock %}